#

https://www.geeksforgeeks.org/data-cleansing-introduction/

In [26]:
import pandas as pd

# Load the dataset, parsing the date columns
df = pd.read_csv(
    '../Data/listen.csv',
    parse_dates=['CRTDAT', 'TRNDAT', 'LOADDAT'],  # Specify date columns
    dtype={'STATUS': 'category', 'CUSNUM': 'category'},  # Set STATUS as categorical
    low_memory=True
)
for col in ['CRTDAT', 'TRNDAT', 'LOADDAT']:
    df[col] = df[col].dt.floor('s')  # Truncate to seconds, as pandas defaults to [ns] (nanoseconds)

# Verify the data types
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6329576 entries, 0 to 6329575
Data columns (total 18 columns):
 #   Column   Dtype
---  ------   -----
 0   LISNUM   int64
 1   SUMLIS   int64
 2   STATUS   category
 3   PRIO     int64
 4   PZ       object
 5   RELNUM   int64
 6   PICTYP   object
 7   CUSNUM   category
 8   DSPADR   object
 9   BNDCRI   object
 10  PICCOD   object
 11  LMTYPE   object
 12  ACTLMT   object
 13  CRTDAT   datetime64[ns]
 14  TRNDAT   datetime64[ns]
 15  USERID   object
 16  TRNNUM   int64
 17  LOADDAT  datetime64[ns]
dtypes: category(2), datetime64[ns](3), int64(5), object(8)
memory usage: 791.4+ MB

,LISNUM,SUMLIS,STATUS,PRIO,PZ,RELNUM,PICTYP,CUSNUM,DSPADR,BNDCRI,PICCOD,LMTYPE,ACTLMT,CRTDAT,TRNDAT,USERID,TRNNUM,LOADDAT
0,283588961,283537118,90,40,RAYON_15,41131539,STD,48000,7e8e1a04425501ad7a285bb1811fc932,c12c5ab449d7a7bb84c7452ed84aa407,BS17,BK,NaN,2024-03-20 17:02:38,2024-03-20 18:12:49,116497,546327163,2024-03-21 01:55:12
1,283599784,283589276,90,22,RAYON_01,41133528,STD,127652,6ed07c49b0db493c6c51d1c45b73d930,67d3b1f777ad038d9ae94ea0005d4167,BS17,BK,NaN,2024-03-20 17:35:25,2024-03-20 18:54:15,87594,546340919,2024-03-21 01:55:12
2,283411542,283411557,90,25,RAYON_26,41121265,STD,42307,0221db771ad882515b8bcbb9d00f2049,660fc5d208ac5bbceea87e54b92592a7,VREM_LB,BG,BG,2024-03-20 07:26:26,2024-03-20 08:26:52,171411,545957097,2024-03-21 01:55:12
3,283419510,283404790,90,40,RAYON_03,41121830,STD,46572,5909aa790ab6ad7083bcb1d44fa513b8,67d3b1f777ad038d9ae94ea0005d4167,BS17,BG,BG,2024-03-20 08:20:24,2024-03-20 09:13:47,165350,545984825,2024-03-21 01:55:12
4,283531675,283531676,90,40,RAYON_24,41129608,STD,176099,ca7f2e9124cf10603a5ae82a26f20d69,67d3b1f777ad038d9ae94ea0005d4167,BS08,BK,BK,2024-03-20 14:20:24,2024-03-20 14:42:35,COMMANDLISTENER,546213070,2024-03-21 01:55:12

In [29]:
unique_values_count = df['PRIO'].nunique()
print(f"Number of unique values in CUSNUM: {unique_values_count}")

Number of unique values in CUSNUM: 57

In [30]:
# Counts unique of all columns
unique_counts = df.nunique()
print(unique_counts)

LISNUM     6329576
SUMLIS     1703057
STATUS           5
PRIO            57
PZ              33
RELNUM       79240
PICTYP           4
CUSNUM       16241
DSPADR      346094
BNDCRI      422506
PICCOD          64
LMTYPE           4
ACTLMT           5
CRTDAT      364998
TRNDAT     4715711
USERID         352
TRNNUM     5604544
LOADDAT        409
dtype: int64

In [20]:
for col in df.columns:
    print(f"{col}: {df[col].dtype}")

LISNUM: int64
SUMLIS: int64
STATUS: int64
PRIO: int64
PZ: object
RELNUM: int64
PICTYP: object
CUSNUM: int64
DSPADR: object
BNDCRI: object
PICCOD: object
LMTYPE: object
ACTLMT: object
CRTDAT: datetime64[ns]
TRNDAT: datetime64[ns]
USERID: object
TRNNUM: int64
LOADDAT: datetime64[ns]

#### Data Inspection and Exploration
-checking for duplicated entries
-check data information using df.info()

In [14]:
df.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
6329571    False
6329572    False
6329573    False
6329574    False
6329575    False
Length: 6329576, dtype: bool